version: '3.1'
services:
  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: root
    ports:
      - "3307:3306"
    volumes:
      - ./tmp/db:/var/lib/mysql

  web:
    build: .
    command: bash -c "rm -f tmp/pids/server.pid && bundle exec rails s -p 3000 -b '0.0.0.0'"
    environment:
      - EDITOR=vim
      - SELENIUM_DRIVER_URL=http://selenium_chrome:4444/wd/hub
    volumes:
      - .:/app
    ports:
      - "3000:3000"
    depends_on:
      - db
    secrets:
      - host_ssh_key

  selenium_chrome:
    image: seleniarm/standalone-chromium:latest
    ports:
      - "4444:4444"

secrets:
  host_ssh_key:
    file: id_rsa