%tr
  %th{scope: 'row'} 2022-11-13
  %td Feature
  %td
    %h4 ver 1.1.0
    %p
      add English ver. (i18n)
      %br
      If you want to modify or add other languages, please send me a PR on Github
