%tr
  %th{scope: 'row'} 2022-10-02
  %td Feature, Fix
  %td
    %h4 ver 1.0.2/ver 1.0.3
    %p
      .small.text-secondary add: 2022-10-10
      Couldn't put more than 1,000,000 in the score
      %br
      You can delete incorrectly entered scores