%tr
  %th{scope: 'row'} 2022-10-13
  %td Important
  %td
    %h4 ver 1.0.6
    %p
      Added tip page and sponsor page
      %br
      Thank you for your cooperation in providing stable service!
      %br
      If you are interested in supporting me, I would be very much encouraged if you would register just for the free plan!
    %p
      = link_to 'Tips/Sponsor', sponsors_path