%tr
  %th{scope: 'row'} 2022-10-13
  %td 重要なお知らせ
  %td
    %h4 ver 1.0.6
    %p
      お布施情報の追加，スポンサーページ追加．
      %br
      安定したサービス提供の為にどうぞよろしくお願いします．
      %br
      fantiaの方には無料プランもあるので応援の気持ちがある方は是非無料プランだけでも登録して頂けると大変励みになります．
    %p
      = link_to 'お布施情報/スポンサーページ', sponsors_path