%tr
  %th{scope: 'row'} 2022-12-20
  %td 重要なお知らせ, 修正
  %td
    %h4 ver 1.2.0
    %p
      今後の更新のためにIDに設定できる文字に制約をつけました．ひらがなや記号を使っている人は
      = link_to '設定', settings_users_path
      から変更してください．
      %br
      言語設定をしていないときにエラーが出てしまう問題を解消しました
