%tr
  %th{scope: 'row'} 2023-01-05
  %td Feature
  %td
    %h4 ver 1.2.1
    %p
      HAPPY NEW YEAR!
      %br
      I will keep updating OFFCCA ;)
    %p
      Add
      = link_to 'Gallery Page', gallery_icons_path
      %br
      We can look the list of icons, plates, and song jackets.