%tr
  %th{scope: 'row'} 2022-11-13
  %td 新機能
  %td
    %h4 ver 1.1.0
    %p
      国際化(i18n)対応
      %br
      今はざっくり必要そうなところに英語翻訳を追加した感じです．
      %br
      他の言語を追加したい方は
      = link_to 'Github', 'https://github.com/Little-Rubyist/wacca_ranking', target: '_blank'
      にPRを送ってください．