%tr
  %th{scope: 'row'} 2022-12-20
  %td Important, Fix
  %td
    %h4 ver 1.2.0
    %p
      For future updates, we have placed restrictions on the characters that can be set for IDs. If you use hiragana or symbols, please change them in the
      = link_to 'Settings', settings_users_path
      %br
      Fixed a problem that caused an error when the language setting is not set.
