.row.text-center.text-muted
  %p
    By registering, you agree to
    = link_to t('views.header.agreement'), agreement_path, target: '_blank'
    and
    = link_to t('views.header.policy'), policies_path, target: '_blank'