%footer.text-center.text-lg-start.bg-light.text-muted
  .text-center.p-4
    © 2022 Copyright:
    = link_to "Yla Aioi / Merci", "https://github.com/Little-Rubyist", class: 'text-reset fw-bold', target: '_blank'
