%nav.navbar.navbar-expand-lg.bg-light
  .container-fluid
    %a.navbar-brand{href: root_path} WACCA
    %button.navbar-toggler{type: 'button', data: { bs: { toggle: 'collapse', target: '#navberSupportedContent' }}, aria: { controls: 'navbarSupportedContent', expanded: false, label: 'Toggle navigation' }}
      %span.navbar-toggler-icon
    .collapse.navbar-collapse#navbarSupportedContent
      %ul.navbar-nav.me-auto.mb-2.mb-lg-0
        %li.nav-item
          %a.nav-link.active{href: sign_up_path} 登録
        %li.nav-item
          %a.nav-link.active{href: sign_in_path} ログイン
