.container
  %h1 利用規約
  %p
    本利用規約（以下「本規約」といいます。）は、相生ゆら（以下「開発者」といいます。）が提供するアーケードゲーム「WACCA」のスコア管理サイト（以下「本サイト」といいます。）のご利用条件を定めるものです。
    本サイトの利用者（以下「ユーザー」といいます。）の皆様は、必ず本規約の内容をご確認、ご了承の上、本サイトをご利用ください。

  %h2 第１条（本規約の適用等）
  %p
    本規約は、本サイトの利用に関する開発者とユーザーとの間の権利義務関係を定めることを目的とし、開発者とユーザーとの間の本サイトの利用に関わる一切の関係に適用されます。
  %p
    本サイトに関するルール、ガイドライン、諸規定、注意事項、説明事項その他の決まり事は、本規約の一部を構成します。
  %p
    開発者は、いつでも任意の理由により、ユーザーに事前に通知することなく、本規約を変更、追加又は削除できるものとします。
    変更等が行われた本規約は、開発者が本サイトに掲載した時点より効力を生じるものとします。
    開発者は、本規約の変更等が行われた後、ユーザーが本サイトを利用したときは、変更等が行われた本規約の内容をユーザーが承諾したものとみなすことができるものとします。

  %h2 第２条（本サイトの内容等）
  %p
    本サイトは、アーケードゲーム「WACCA」のスコア管理等、各種機能を提供するサイトです。
    開発者は、ユーザーに事前に通知することなく、本サイトの内容の全部又は一部を変更できるものとします。開発者は変更によりユーザーに生じた損害、結果について一切責任を負いません。

  %h2 第３条（利用登録）
  %p
    本サイトの利用を希望する方（以下「申込者」といいます。）は、本規約に同意の上、本サイト上で開発者が指定する事項を登録して、本サイトの利用申込みを行うものとします。
    前項の利用申込みに対して、開発者が申込み完了の旨を本サイト上に表示した時点で、開発者と申込者との間で、本規約に基づく本サイトの利用契約が成立し、利用登録が完了します。
    ユーザーは、本規約の定めに従い登録した情報その他の本サイトにおいて登録した情報について、常に正確かつ最新の状態に保つものとします。開発者は、ユーザーが当該変更を行わないことを原因としてユーザー又は第三者に生じる結果及び損害について、損害賠償責任その他一切の責任を負わないものとします。

  %h2 第４条（利用環境）
  %p
    ユーザーは、通信機器、ソフトウェア、通信回線その他の本サイトを利用するために必要となる全ての環境を自己の責任と負担で用意するものとし、開発者は、当該利用環境を原因としてユーザーに損害が生じたときであっても一切責任を負いません。

  %h2 第５条（パスワード等の管理）
  %p
    ユーザーが本サイトで登録するＩＤ、パスワード（以下「パスワード等」といいます。）は、ユーザー本人のみが使用するものとし、第三者に使用させ、承継、譲渡、その他処分することはできません。
    ユーザーは、パスワード等の使用、保管その他の管理について自ら責任を負うものとし、開発者は、第三者によるパスワード等の使用等を原因としてユーザー又は第三者に生じる結果及び損害について、損害賠償責任その他一切の責任を負わないものとします。

  %h2 第６条（禁止事項）
  %p
    ユーザーは、本サイトの利用において、以下の各号のいずれかに該当する行為又はそのおそれがある行為をしてはならないものとします。
    %ol.list-group.list-group-numbered.list-group-flush
      %li.list-group-item 第三者又は開発者の、知的財産権（著作権、意匠権、特許権、実用新案権、商標権等）その他の権利を侵害する行為
      %li.list-group-item 第三者又は開発者の財産、信用、名誉、プライバシー、肖像権を侵害する行為
      %li.list-group-item 営業、政治、宗教を目的とする行為
      %li.list-group-item 公序良俗に反する行為又はそれを助長する行為
      %li.list-group-item 法令に違反する行為又はそれを教唆、幇助、勧誘する行為
      %li.list-group-item 本サイトの利用方法として予め想定又は許容される行為以外の行為
      %li.list-group-item 自動操作ツール（マクロ）の利用及び開発者が認めないプログラム・マクロその他のツールを使用し本サイトを利用する行為
      %li.list-group-item 本サイトの解析、改ざん、改変、リバースエンジニアリング等の行為
      %li.list-group-item 本サイトの利用にあたり、本来の動作を変更する等、本サイトの内容・進行・構成内容等を、意図的に変更する行為
      %li.list-group-item 本サイトを利用中であると否とを問わず、禁止行為を可能とするプログラム又はデータを、他のユーザー又は第三者に使用、頒布（送信可能化することを含みます）、勧奨する行為
      %li.list-group-item 本サイトに関する設備（開発者が本サイトを提供するために用意する通信設備、通信回線、電子計算機、その他の機器及びソフトウェアをいいます。）に不正にアクセスし、又はその利用もしくは運営に支障を与える行為
      %li.list-group-item 本サイトに関するサーバー又はネットワークへ著しく負荷をかけ、本サイトの提供に影響を与える行為
      %li.list-group-item 本サイト又は、開発者が提供する他サイトの運営を妨げる行為
      %li.list-group-item 本規約に違反する行為
      %li.list-group-item 前各号の他、開発者が不適切と判断する行為
    ユーザーは、本サイトのいかなる不具合も、不公正な目的でこれを使用しないものとし、当該不具合を発見したときは、これを第三者に通知、公表等せず、別途開発者が指定する宛先に連絡するものとします。
    ユーザーは、第１項各号の禁止行為により、第三者によるクレーム、トラブル、請求、紛争等（以下「紛争等」といいます。）が発生したときは、ユーザーの責任と負担において紛争等を解決するものとし、開発者に対して何らの損害を与えないものとします。また、開発者は、紛争等を原因としてユーザーに損害が生じたときであっても一切責任を負いません。

  %h2 第７条（利用制限）
  %p
    ユーザーが以下の各号のいずれかに該当し、又は該当するおそれがあると開発者が判断したときは、開発者は、事前に通知、催告することなく、直ちに、ユーザーに対する本サイトの全部若しくは一部の提供を停止し、又は利用契約を解除することができるものとします。
    %ol.list-group.list-group-numbered.list-group-flush
      %li.list-group-item 本サイトにおいてユーザーが登録した開発者指定事項の全部又は一部に虚偽、不正確又は誤りがあった場合
      %li.list-group-item 過去に開発者が提供するサイトの利用停止等の処分を受けている場合
      %li.list-group-item 暴力団、反政府組織その他の反社会的組織であるか、もしくはそれらの構成員又は関係者であることが判明した場合、又はこれらの者と何らかの関係があることが明らかとなった場合
      %li.list-group-item 本規約第６条（禁止事項）第１項各号に該当し、又は本規約のいずれかの条項に違反した場合
      %li.list-group-item 開発者に対する暴力的な要求行為、法的な責任を超えた不当な要求行為、風説の流布、偽計若しくは威力を用いて開発者の信用を毀損し、又は開発者の業務を妨害する行為を行った場合
      %li.list-group-item 前各号の他、開発者が、本サイトを提供することが不適切と判断した場合
    開発者は、前項に基づき本サイトの提供を停止又は利用契約を解除したことによりユーザー又は第三者に生じる結果及び損害について一切責任を負いません。

  %h2 第８条（本サイトの中断等）
  %p
    開発者は、以下の各号のいずれかに該当する場合には、ユーザーに事前に通知することなく、本サイトの全部又は一部を中断又は中止できるものとします。
    %ol.list-group.list-group-numbered.list-group-flush
      %li.list-group-item 本サイトに関する設備（開発者が本サイトを提供するために用意する通信設備、通信回線、電子計算機、その他の機器及びソフトウェアをいいます。以下本条において同じ。）の故障、障害その他の事由により本サイトの提供ができなくなった場合
      %li.list-group-item 本サイトに関する設備の保守、点検、修理、変更を定期的に又は緊急に行う場合
      %li.list-group-item 火災、停電等により本サイトの提供ができなくなった場合
      %li.list-group-item 地震、洪水、津波その他の天災により本サイトの提供ができなくなった場合
      %li.list-group-item 戦争、暴動、騒乱、労働争議、疫病の蔓延その他の不可抗力により本サイトの提供ができなくなった場合
      %li.list-group-item 法令による規制、司法命令等の適用により本サイトの提供ができなくなった場合
      %li.list-group-item その他、運用上、技術上、開発者が必要と判断した場合
    開発者は、前項に基づく本サイトの中断又は中止によりユーザー又は第三者に生じた結果及び損害について、一切責任を負いません。

  %h2 第９条（不保証等）
  %p
    本サイトは、各々のサイト提供時における現状にて提供されるものであり、正確性・完全性・有用性・信頼性等に瑕疵を含み得るものとして提供されます。従って、開発者は、ユーザーの利用に関し、常に良好な環境で接続されること、ユーザーが発信した情報がサイト上に常に掲示されること等、本サイトの内容及び開発者より提供される情報について、その正確性・完全性・有用性・信頼性等に関していかなる保証もいたしません。
    本サイトにおいてオンライン環境を必要とする場合は、個々の通信環境、使用機器環境に依存する度合いが高く、いかなる環境下でも利用可能なものではありません。従って、かかる場合において開発者は本サイトがユーザーの下におけるいかなる環境下でも利用可能であることにつき保証いたしません。
    ユーザーは本サイトの利用にあたり、ユーザーご自身の判断により過度の利用を避けるものとします。過度の本サイトの利用による肉体的、精神的、金銭的損害に関して開発者は一切の責任を負いません。
    開発者は、ユーザーが本サイトをご利用する端末等機器に蓄積したデータ等が消失（ご本人による削除も含む。）した場合、又は他人により改ざんされた場合、開発者はそれを復旧する責任は負わないものとします。
    開発者は、本サイトを利用するにあたって発生し得る全ての問題について、ユーザー及び第三者に対し、一切の責任を負わないものとします。また、開発者が本サイトをその時点でユーザーに対し合理的に提供可能な場合、ユーザーは開発者が本サイトについて一切の補償をしないことについて予め了承するものとします。

  %h2 第10条（損害賠償）
  %p
    本サイトの利用に関しユーザーに損害が発生し、開発者が損害賠償責任を負う場合でも、その賠償責任の範囲は、ユーザーに生じた現実且つ直接の損害に限り、開発者の予見の有無にかかわらず、特別の事情から生じた損害、逸失利益、間接損害、その他の損害については責任を負わないものとします。但し、開発者に故意又は重過失がある場合はこの限りではありません。
    本サイトの利用に際し開発者以外の第三者からなされた行為又は提供されたサイトについて、開発者は一切責任を負いません。

  %h2 第11条（個人情報）
  %p
    開発者は、本サイトの利用に関して、ユーザーの個人情報（生存する個人に関する情報であって、当該情報により特定の個人を識別することができるものをいいます。）を取得した場合には、個人情報の保護に関する法律を遵守し、開発者が別途定める「プライバシーポリシー（個人情報保護基本方針）」に従って取り扱うものとします。開発者は、本サイトの提供及び運営に必要な範囲内でのみユーザーの個人情報を利用します。また、当該目的を達成するために必要な範囲内において、適切な管理を義務付けた上で、開発者が業務を委託する第三者に個人情報を提供することがあります。

  %h2 第12条（著作権その他の知的財産権）
  %p
    本サイトを構成するすべての情報、プログラム、ソフトウェア、商標、商号又はこれらに付随する著作権、商標権その他の知的財産権及びその他の権利は、特段の表示なき限り、開発者又は正当な権限を有する第三者に帰属します。
    特に、画像や楽曲情報などの権利は株式会社マーベラス又は楽曲制作者などの正当な権利保持者に帰属します。株式会社マーベラスに指摘された場合、開発者は即時に該当の情報の公開を停止します。

  %h2 第13条（管轄等）
  %p
    本規約は、その成立、効力、解釈及び履行を含め、全ての事項について日本語で解釈され、日本国の法令が適用されるものとします。
    本規約の一部が、消費者保護法令の強行規定部分又は他の強行規定により効力を有さないとされる場合でも、これに反しない最大限の範囲で効力を有するものとします。
    ユーザーと開発者との間で、本サイトに関する紛争が発生した場合、当該紛争の解決にあたっては、東京地方裁判所又は東京簡易裁判所を、第一審の専属的合意管轄裁判所とします。

  .d-flex.align-items-end.flex-column
    %p 相生ゆら
    %p 2022/09/27 制定
    %p 2023/01/05 改定
